Source: wayfire-scale-ipc
Section: x11
Priority: optional
Maintainer: Daniel Kondor <kondor.dani@gmail.com>
Build-Depends: debhelper-compat (= 13),
               meson,
               nlohmann-json3-dev,
               wayfire-dev (>= 0.8.0),
Standards-Version: 4.7.0
Rules-Requires-Root: no
Homepage: https://github.com/dkondor/wayfire-scale-ipc
Vcs-Browser: https://github.com/dkondor/wayfire-scale-ipc
Vcs-Git: https://github.com/dkondor/wayfire-scale-ipc -b debian [debian]

Package: wayfire-plugin-scale-ipc
Architecture: any
Multi-Arch: foreign
Depends: wayfire (>= 0.8.0), ${misc:Depends}, ${shlibs:Depends}
Recommends: wcm
Description: Extra IPC actions for Wayfire.
 This plugin provides the "scale_ipc_filter/activate_appid" IPC
 method, which will start scale and filter the displayed apps
 based on the app_id parameter given. This can be useful for
 other desktop components, e.g. panels.
